.colXs00, .colSm00, .colMd00, .colLg00 {
  display: none;
}

.colXs01, .colSm01, .colMd01, .colLg01, 
.colXs02, .colSm02, .colMd02, .colLg02,
.colXs03, .colSm03, .colMd03, .colLg03,
.colXs04, .colSm04, .colMd04, .colLg04,
.colXs05, .colSm05, .colMd05, .colLg05,
.colXs06, .colSm06, .colMd06, .colLg06,
.colXs07, .colSm07, .colMd07, .colLg07,
.colXs08, .colSm08, .colMd08, .colLg08,
.colXs09, .colSm09, .colMd09, .colLg09,
.colXs10, .colSm10, .colMd10, .colLg10,
.colXs11, .colSm11, .colMd11, .colLg11,
.colXs12, .colSm12, .colMd12, .colLg12,
.colXs13, .colSm13, .colMd13, .colLg13,
.colXs14, .colSm14, .colMd14, .colLg14,
.colXs15, .colSm15, .colMd15, .colLg15,
.colXs16, .colSm16, .colMd16, .colLg16,
.colXs17, .colSm17, .colMd17, .colLg17,
.colXs18, .colSm18, .colMd18, .colLg18,
.colXs19, .colSm19, .colMd19, .colLg19,
.colXs20, .colSm20, .colMd20, .colLg20,
.colXs21, .colSm21, .colMd21, .colLg21,
.colXs22, .colSm22, .colMd22, .colLg22,
.colXs23, .colSm23, .colMd23, .colLg23,
.colXs24, .colSm24, .colMd24, .colLg24 {
  position: relative;
  min-height: 1px;
}

.colXs01, .colXs02, .colXs03, .colXs04, .colXs05, .colXs06, .colXs07, .colXs08, .colXs09, .colXs10, .colXs11, .colXs12,
.colXs13, .colXs14, .colXs15, .colXs16, .colXs17, .colXs18, .colXs19, .colXs20, .colXs21, .colXs22, .colXs23, .colXs24 {
  display: block;
  float: left;
}

.colXs24 { width: 100%; }
.colXs23 { width: 95.83333334%; }
.colXs22 { width: 91.66666667%; }
.colXs21 { width: 87.5%; }
.colXs20 { width: 83.33333333%; }
.colXs19 { width: 79.16666667%; }
.colXs18 { width: 75%; }
.colXs17 { width: 70.83333334%; }
.colXs16 { width: 66.66666667%; }
.colXs15 { width: 62.5%; }
.colXs14 { width: 58.33333333%; }
.colXs13 { width: 54.16666667%; }
.colXs12 { width: 50%; }
.colXs11 { width: 45.83333334%; }
.colXs10 { width: 41.66666667%; }
.colXs09 { width: 37.5%; }
.colXs08 { width: 33.33333333%; }
.colXs07 { width: 29.16666667%; }
.colXs06 { width: 25%; }
.colXs05 { width: 20.83333334%; }
.colXs04 { width: 16.66666667%; }
.colXs03 { width: 12.5%; }
.colXs02 { width: 8.33333333%; }
.colXs01 { width: 4.16666667%; }

.colXsPull24 { right: 100%; }
.colXsPull23 { right: 95.83333334%; }
.colXsPull22 { right: 91.66666667%; }
.colXsPull21 { right: 87.5%; }
.colXsPull20 { right: 83.33333333%; }
.colXsPull19 { right: 79.16666667%; }
.colXsPull18 { right: 75%; }
.colXsPull17 { right: 70.83333334%; }
.colXsPull16 { right: 66.66666667%; }
.colXsPull15 { right: 62.5%; }
.colXsPull14 { right: 58.33333333%; }
.colXsPull13 { right: 54.16666667%; }
.colXsPull12 { right: 50%; }
.colXsPull11 { right: 45.83333334%; }
.colXsPull10 { right: 41.66666667%; }
.colXsPull09 { right: 37.5%; }
.colXsPull08 { right: 33.33333333%; }
.colXsPull07 { right: 29.16666667%; }
.colXsPull06 { right: 25%; }
.colXsPull05 { right: 20.83333334%; }
.colXsPull04 { right: 16.66666667%; }
.colXsPull03 { right: 12.5%; }
.colXsPull02 { right: 8.33333333%; }
.colXsPull01 { right: 4.16666667%; }
.colXsPull00 { right: auto; }

.colXsPush24 { left: 100%; }
.colXsPush23 { left: 95.83333334%; }
.colXsPush22 { left: 91.66666667%; }
.colXsPush21 { left: 87.5%; }
.colXsPush20 { left: 83.33333333%; }
.colXsPush19 { left: 79.16666667%; }
.colXsPush18 { left: 75%; }
.colXsPush17 { left: 70.83333334%; }
.colXsPush16 { left: 66.66666667%; }
.colXsPush15 { left: 62.5%; }
.colXsPush14 { left: 58.33333333%; }
.colXsPush13 { left: 54.16666667%; }
.colXsPush12 { left: 50%; }
.colXsPush11 { left: 45.83333334%; }
.colXsPush10 { left: 41.66666667%; }
.colXsPush09 { left: 37.5%; }
.colXsPush08 { left: 33.33333333%; }
.colXsPush07 { left: 29.16666667%; }
.colXsPush06 { left: 25%; }
.colXsPush05 { left: 20.83333334%; }
.colXsPush04 { left: 16.66666667%; }
.colXsPush03 { left: 12.5%; }
.colXsPush02 { left: 8.33333333%; }
.colXsPush01 { left: 4.16666667%; }
.colXsPush00 { left: auto; }

.colXsOffset24 { margin-left: 100%; }
.colXsOffset23 { margin-left: 95.83333334%; }
.colXsOffset22 { margin-left: 91.66666667%; }
.colXsOffset21 { margin-left: 87.5%; }
.colXsOffset20 { margin-left: 83.33333333%; }
.colXsOffset19 { margin-left: 79.16666667%; }
.colXsOffset18 { margin-left: 75%; }
.colXsOffset17 { margin-left: 70.83333334%; }
.colXsOffset16 { margin-left: 66.66666667%; }
.colXsOffset15 { margin-left: 62.5%; }
.colXsOffset14 { margin-left: 58.33333333%; }
.colXsOffset13 { margin-left: 54.16666667%; }
.colXsOffset12 { margin-left: 50%; }
.colXsOffset11 { margin-left: 45.83333334%; }
.colXsOffset10 { margin-left: 41.66666667%; }
.colXsOffset09 { margin-left: 37.5%; }
.colXsOffset08 { margin-left: 33.33333333%; }
.colXsOffset07 { margin-left: 29.16666667%; }
.colXsOffset06 { margin-left: 25%; }
.colXsOffset05 { margin-left: 20.83333334%; }
.colXsOffset04 { margin-left: 16.66666667%; }
.colXsOffset03 { margin-left: 12.5%; }
.colXsOffset02 { margin-left: 8.33333333%; }
.colXsOffset01 { margin-left: 4.16666667%; }
.colXsOffset00 { margin-left: 0; }

.paddingOff {
  margin: 0;
  padding: 0;
}

.paddingOn { padding: 2px; }

.paddingTop20Left20 { padding: 20px 0 0 20px; }

.paddingTop10Bottom10 { padding: 10px 0; }

.clear { clear: both; }

.pullRight {
  float: right !important;
}
.pullLeft {
  float: left !important;
}

.hide {
  display: none !important;
}

.centerText {
  text-align: center;
}

/*MODAL=============================================================================================*/
.modalOpen { overflow: hidden; }

.modal {
  bottom: 0;
  display: none;
  left: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
}

.modal.fade .modalDialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

.modal.in .modalDialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modalOpen .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modalDialog {
  margin: 10px;
  position: relative;
  width: auto;
}

.modalContent {
  background-color: #FFF;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  position: relative;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modalBackdrop {
  background-color: #000;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modalBackdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}

.modalBackdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}

.modalHeader {
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
  padding: 15px;
}

.modalHeader .close { margin-top: -2px; }

.modalTitle {
  line-height: 1.42857143;
  margin: 0;
}

.modalBody {
  padding: 15px;
  position: relative;
}

.modalFooter {
  padding: 15px;
  text-align: right;
}

.modalFooter .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modalFooter .btn-group .btn + .btn { margin-left: -1px; }

.modalFooter .btn-block + .btn-block { margin-left: 0; }

.modalScrollbarMeasure {
  height: 50px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
  width: 50px;
}
/*==================================================================================================*/

/*OVERLAY===========================================================================================*/
.messageOverlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 0;
  left: 0;
  overflow-x: hidden;
  overflow: hidden;
  position: fixed; 
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1050;
}

.messageOverlayContent {
  margin-top: 30px; 
  position: relative;
  text-align: center; 
  top: 25%; 
  width: 100%; 
}

.titleMessageOverlay {
  color: #FFF;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
}

.texMessageOverlay {
  color: #FFF;
  font-size: 12px;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}

.messageOverlayContent .sending {
  text-shadow: 0px 0px 16px #1545A6;
}
/*==================================================================================================*/

@media (min-width: 768px) {
  .colSm01, .colSm02, .colSm03, .colSm04, .colSm05, .colSm06, .colSm07, .colSm08, .colSm09, .colSm10, .colSm11, .colSm12,
  .colSm13, .colSm14, .colSm15, .colSm16, .colSm17, .colSm18, .colSm19, .colSm20, .colSm21, .colSm22, .colSm23, .colSm24 {
    display: block;
    float: left;
  }

  .colSm24 { width: 100%; }
  .colSm23 { width: 95.83333334%; }
  .colSm22 { width: 91.66666667%; }
  .colSm21 { width: 87.5%; }
  .colSm20 { width: 83.33333333%; }
  .colSm19 { width: 79.16666667%; }
  .colSm18 { width: 75%; }
  .colSm17 { width: 70.83333334%; }
  .colSm16 { width: 66.66666667%; }
  .colSm15 { width: 62.5%; }
  .colSm14 { width: 58.33333333%; }
  .colSm13 { width: 54.16666667%; }
  .colSm12 { width: 50%; }
  .colSm11 { width: 45.83333334%; }
  .colSm10 { width: 41.66666667%; }
  .colSm09 { width: 37.5%; }
  .colSm08 { width: 33.33333333%; }
  .colSm07 { width: 29.16666667%; }
  .colSm06 { width: 25%; }
  .colSm05 { width: 20.83333334%; }
  .colSm04 { width: 16.66666667%; }
  .colSm03 { width: 12.5%; }
  .colSm02 { width: 8.33333333%; }
  .colSm01 { width: 4.16666667%; }

  .colSmPull24 { right: 100%; }
  .colSmPull23 { right: 95.83333334%; }
  .colSmPull22 { right: 91.66666667%; }
  .colSmPull21 { right: 87.5%; }
  .colSmPull20 { right: 83.33333333%; }
  .colSmPull19 { right: 79.16666667%; }
  .colSmPull18 { right: 75%; }
  .colSmPull17 { right: 70.83333334%; }
  .colSmPull16 { right: 66.66666667%; }
  .colSmPull15 { right: 62.5%; }
  .colSmPull14 { right: 58.33333333%; }
  .colSmPull13 { right: 54.16666667%; }
  .colSmPull12 { right: 50%; }
  .colSmPull11 { right: 45.83333334%; }
  .colSmPull10 { right: 41.66666667%; }
  .colSmPull09 { right: 37.5%; }
  .colSmPull08 { right: 33.33333333%; }
  .colSmPull07 { right: 29.16666667%; }
  .colSmPull06 { right: 25%; }
  .colSmPull05 { right: 20.83333334%; }
  .colSmPull04 { right: 16.66666667%; }
  .colSmPull03 { right: 12.5%; }
  .colSmPull02 { right: 8.33333333%; }
  .colSmPull01 { right: 4.16666667%; }
  .colSmPull00 { right: auto; }

  .colSmPush24 { left: 100%; }
  .colSmPush23 { left: 95.83333334%; }
  .colSmPush22 { left: 91.66666667%; }
  .colSmPush21 { left: 87.5%; }
  .colSmPush20 { left: 83.33333333%; }
  .colSmPush19 { left: 79.16666667%; }
  .colSmPush18 { left: 75%; }
  .colSmPush17 { left: 70.83333334%; }
  .colSmPush16 { left: 66.66666667%; }
  .colSmPush15 { left: 62.5%; }
  .colSmPush14 { left: 58.33333333%; }
  .colSmPush13 { left: 54.16666667%; }
  .colSmPush12 { left: 50%; }
  .colSmPush11 { left: 45.83333334%; }
  .colSmPush10 { left: 41.66666667%; }
  .colSmPush09 { left: 37.5%; }
  .colSmPush08 { left: 33.33333333%; }
  .colSmPush07 { left: 29.16666667%; }
  .colSmPush06 { left: 25%; }
  .colSmPush05 { left: 20.83333334%; }
  .colSmPush04 { left: 16.66666667%; }
  .colSmPush03 { left: 12.5%; }
  .colSmPush02 { left: 8.33333333%; }
  .colSmPush01 { left: 4.16666667%; }
  .colSmPush00 { left: auto; }

  .colSmOffset24 { margin-left: 100%; }
  .colSmOffset23 { margin-left: 95.83333334%; }
  .colSmOffset22 { margin-left: 91.66666667%; }
  .colSmOffset21 { margin-left: 87.5%; }
  .colSmOffset20 { margin-left: 83.33333333%; }
  .colSmOffset19 { margin-left: 79.16666667%; }
  .colSmOffset18 { margin-left: 75%; }
  .colSmOffset17 { margin-left: 70.83333334%; }
  .colSmOffset16 { margin-left: 66.66666667%; }
  .colSmOffset15 { margin-left: 62.5%; }
  .colSmOffset14 { margin-left: 58.33333333%; }
  .colSmOffset13 { margin-left: 54.16666667%; }
  .colSmOffset12 { margin-left: 50%; }
  .colSmOffset11 { margin-left: 45.83333334%; }
  .colSmOffset10 { margin-left: 41.66666667%; }
  .colSmOffset09 { margin-left: 37.5%; }
  .colSmOffset08 { margin-left: 33.33333333%; }
  .colSmOffset07 { margin-left: 29.16666667%; }
  .colSmOffset06 { margin-left: 25%; }
  .colSmOffset05 { margin-left: 20.83333334%; }
  .colSmOffset04 { margin-left: 16.66666667%; }
  .colSmOffset03 { margin-left: 12.5%; }
  .colSmOffset02 { margin-left: 8.33333333%; }
  .colSmOffset01 { margin-left: 4.16666667%; }
  .colSmOffset00 { margin-left: 0; }

  .modalDialog {
    width: 600px;
    margin: 30px auto;
  }

  .modalContent {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }

  .modalDialog.modalColSm24 { width: 99%; }
  .modalDialog.modalColSm23 { width: 95.83333334%; }
  .modalDialog.modalColSm22 { width: 91.66666667%; }
  .modalDialog.modalColSm21 { width: 87.5%; }
  .modalDialog.modalColSm20 { width: 83.33333333%; }
  .modalDialog.modalColSm19 { width: 79.16666667%; }
  .modalDialog.modalColSm18 { width: 75%; }
  .modalDialog.modalColSm17 { width: 70.83333334%; }
  .modalDialog.modalColSm16 { width: 66.66666667%; }
  .modalDialog.modalColSm15 { width: 62.5%; }
  .modalDialog.modalColSm14 { width: 58.33333333%; }
  .modalDialog.modalColSm13 { width: 54.16666667%; }
  .modalDialog.modalColSm12 { width: 50%; }
  .modalDialog.modalColSm11 { width: 45.83333334%; }
  .modalDialog.modalColSm10 { width: 41.66666667%; }
  .modalDialog.modalColSm09 { width: 37.5%; }
  .modalDialog.modalColSm08 { width: 33.33333333%; }
  .modalDialog.modalColSm07 { width: 29.16666667%; }
  .modalDialog.modalColSm06 { width: 25%; }
  .modalDialog.modalColSm05 { width: 20.83333334%; }
  .modalDialog.modalColSm04 { width: 16.66666667%; }
  .modalDialog.modalColSm03 { width: 12.5%; }
  .modalDialog.modalColSm02 { width: 8.33333333%; }
  .modalDialog.modalColSm01 { width: 4.16666667%; }
}

@media (min-width: 992px) {
  .colMd01, .colMd02, .colMd03, .colMd04, .colMd05, .colMd06, .colMd07, .colMd08, .colMd09, .colMd10, .colMd11, .colMd12,
  .colMd13, .colMd14, .colMd15, .colMd16, .colMd17, .colMd18, .colMd19, .colMd20, .colMd21, .colMd22, .colMd23, .colMd24 {
    display: block;
    float: left;
  }

  .colMd24 { width: 100%; }
  .colMd23 { width: 95.83333334%; }
  .colMd22 { width: 91.66666667%; }
  .colMd21 { width: 87.5%; }
  .colMd20 { width: 83.33333333%; }
  .colMd19 { width: 79.16666667%; }
  .colMd18 { width: 75%; }
  .colMd17 { width: 70.83333334%; }
  .colMd16 { width: 66.66666667%; }
  .colMd15 { width: 62.5%; }
  .colMd14 { width: 58.33333333%; }
  .colMd13 { width: 54.16666667%; }
  .colMd12 { width: 50%; }
  .colMd11 { width: 45.83333334%; }
  .colMd10 { width: 41.66666667%; }
  .colMd09 { width: 37.5%; }
  .colMd08 { width: 33.33333333%; }
  .colMd07 { width: 29.16666667%; }
  .colMd06 { width: 25%; }
  .colMd05 { width: 20.83333334%; }
  .colMd04 { width: 16.66666667%; }
  .colMd03 { width: 12.5%; }
  .colMd02 { width: 8.33333333%; }
  .colMd01 { width: 4.16666667%; }

  .colMdPull24 { right: 100%; }
  .colMdPull23 { right: 95.83333334%; }
  .colMdPull22 { right: 91.66666667%; }
  .colMdPull21 { right: 87.5%; }
  .colMdPull20 { right: 83.33333333%; }
  .colMdPull19 { right: 79.16666667%; }
  .colMdPull18 { right: 75%; }
  .colMdPull17 { right: 70.83333334%; }
  .colMdPull16 { right: 66.66666667%; }
  .colMdPull15 { right: 62.5%; }
  .colMdPull14 { right: 58.33333333%; }
  .colMdPull13 { right: 54.16666667%; }
  .colMdPull12 { right: 50%; }
  .colMdPull11 { right: 45.83333334%; }
  .colMdPull10 { right: 41.66666667%; }
  .colMdPull09 { right: 37.5%; }
  .colMdPull08 { right: 33.33333333%; }
  .colMdPull07 { right: 29.16666667%; }
  .colMdPull06 { right: 25%; }
  .colMdPull05 { right: 20.83333334%; }
  .colMdPull04 { right: 16.66666667%; }
  .colMdPull03 { right: 12.5%; }
  .colMdPull02 { right: 8.33333333%; }
  .colMdPull01 { right: 4.16666667%; }
  .colMdPull00 { right: auto; }

  .colMdPush24 { left: 100%; }
  .colMdPush23 { left: 95.83333334%; }
  .colMdPush22 { left: 91.66666667%; }
  .colMdPush21 { left: 87.5%; }
  .colMdPush20 { left: 83.33333333%; }
  .colMdPush19 { left: 79.16666667%; }
  .colMdPush18 { left: 75%; }
  .colMdPush17 { left: 70.83333334%; }
  .colMdPush16 { left: 66.66666667%; }
  .colMdPush15 { left: 62.5%; }
  .colMdPush14 { left: 58.33333333%; }
  .colMdPush13 { left: 54.16666667%; }
  .colMdPush12 { left: 50%; }
  .colMdPush11 { left: 45.83333334%; }
  .colMdPush10 { left: 41.66666667%; }
  .colMdPush09 { left: 37.5%; }
  .colMdPush08 { left: 33.33333333%; }
  .colMdPush07 { left: 29.16666667%; }
  .colMdPush06 { left: 25%; }
  .colMdPush05 { left: 20.83333334%; }
  .colMdPush04 { left: 16.66666667%; }
  .colMdPush03 { left: 12.5%; }
  .colMdPush02 { left: 8.33333333%; }
  .colMdPush01 { left: 4.16666667%; }
  .colMdPush00 { left: auto; }

  .colMdOffset24 { margin-left: 100%; }
  .colMdOffset23 { margin-left: 95.83333334%; }
  .colMdOffset22 { margin-left: 91.66666667%; }
  .colMdOffset21 { margin-left: 87.5%; }
  .colMdOffset20 { margin-left: 83.33333333%; }
  .colMdOffset19 { margin-left: 79.16666667%; }
  .colMdOffset18 { margin-left: 75%; }
  .colMdOffset17 { margin-left: 70.83333334%; }
  .colMdOffset16 { margin-left: 66.66666667%; }
  .colMdOffset15 { margin-left: 62.5%; }
  .colMdOffset14 { margin-left: 58.33333333%; }
  .colMdOffset13 { margin-left: 54.16666667%; }
  .colMdOffset12 { margin-left: 50%; }
  .colMdOffset11 { margin-left: 45.83333334%; }
  .colMdOffset10 { margin-left: 41.66666667%; }
  .colMdOffset09 { margin-left: 37.5%; }
  .colMdOffset08 { margin-left: 33.33333333%; }
  .colMdOffset07 { margin-left: 29.16666667%; }
  .colMdOffset06 { margin-left: 25%; }
  .colMdOffset05 { margin-left: 20.83333334%; }
  .colMdOffset04 { margin-left: 16.66666667%; }
  .colMdOffset03 { margin-left: 12.5%; }
  .colMdOffset02 { margin-left: 8.33333333%; }
  .colMdOffset01 { margin-left: 4.16666667%; }
  .colMdOffset00 { margin-left: 0; }

  .modalDialog.modalColMd24 { width: 99%; }
  .modalDialog.modalColMd23 { width: 95.83333334%; }
  .modalDialog.modalColMd22 { width: 91.66666667%; }
  .modalDialog.modalColMd21 { width: 87.5%; }
  .modalDialog.modalColMd20 { width: 83.33333333%; }
  .modalDialog.modalColMd19 { width: 79.16666667%; }
  .modalDialog.modalColMd18 { width: 75%; }
  .modalDialog.modalColMd17 { width: 70.83333334%; }
  .modalDialog.modalColMd16 { width: 66.66666667%; }
  .modalDialog.modalColMd15 { width: 62.5%; }
  .modalDialog.modalColMd14 { width: 58.33333333%; }
  .modalDialog.modalColMd13 { width: 54.16666667%; }
  .modalDialog.modalColMd12 { width: 50%; }
  .modalDialog.modalColMd11 { width: 45.83333334%; }
  .modalDialog.modalColMd10 { width: 41.66666667%; }
  .modalDialog.modalColMd09 { width: 37.5%; }
  .modalDialog.modalColMd08 { width: 33.33333333%; }
  .modalDialog.modalColMd07 { width: 29.16666667%; }
  .modalDialog.modalColMd06 { width: 25%; }
  .modalDialog.modalColMd05 { width: 20.83333334%; }
  .modalDialog.modalColMd04 { width: 16.66666667%; }
  .modalDialog.modalColMd03 { width: 12.5%; }
  .modalDialog.modalColMd02 { width: 8.33333333%; }
  .modalDialog.modalColMd01 { width: 4.16666667%; }
}

@media (min-width: 1200px) {
  .colLg01, .colLg02, .colLg03, .colLg04, .colLg05, .colLg06, .colLg07, .colLg08, .colLg09, .colLg10, .colLg11, .colLg12,
  .colLg13, .colLg14, .colLg15, .colLg16, .colLg17, .colLg18, .colLg19, .colLg20, .colLg21, .colLg22, .colLg23, .colLg24 {
    display: block;
    float: left;
  }

  .colLg24 { width: 100%; }
  .colLg23 { width: 95.83333334%; }
  .colLg22 { width: 91.66666667%; }
  .colLg21 { width: 87.5%; }
  .colLg20 { width: 83.33333333%; }
  .colLg19 { width: 79.16666667%; }
  .colLg18 { width: 75%; }
  .colLg17 { width: 70.83333334%; }
  .colLg16 { width: 66.66666667%; }
  .colLg15 { width: 62.5%; }
  .colLg14 { width: 58.33333333%; }
  .colLg13 { width: 54.16666667%; }
  .colLg12 { width: 50%; }
  .colLg11 { width: 45.83333334%; }
  .colLg10 { width: 41.66666667%; }
  .colLg09 { width: 37.5%; }
  .colLg08 { width: 33.33333333%; }
  .colLg07 { width: 29.16666667%; }
  .colLg06 { width: 25%; }
  .colLg05 { width: 20.83333334%; }
  .colLg04 { width: 16.66666667%; }
  .colLg03 { width: 12.5%; }
  .colLg02 { width: 8.33333333%; }
  .colLg01 { width: 4.16666667%; }

  .colLgPull24 { right: 100%; }
  .colLgPull23 { right: 95.83333334%; }
  .colLgPull22 { right: 91.66666667%; }
  .colLgPull21 { right: 87.5%; }
  .colLgPull20 { right: 83.33333333%; }
  .colLgPull19 { right: 79.16666667%; }
  .colLgPull18 { right: 75%; }
  .colLgPull17 { right: 70.83333334%; }
  .colLgPull16 { right: 66.66666667%; }
  .colLgPull15 { right: 62.5%; }
  .colLgPull14 { right: 58.33333333%; }
  .colLgPull13 { right: 54.16666667%; }
  .colLgPull12 { right: 50%; }
  .colLgPull11 { right: 45.83333334%; }
  .colLgPull10 { right: 41.66666667%; }
  .colLgPull09 { right: 37.5%; }
  .colLgPull08 { right: 33.33333333%; }
  .colLgPull07 { right: 29.16666667%; }
  .colLgPull06 { right: 25%; }
  .colLgPull05 { right: 20.83333334%; }
  .colLgPull04 { right: 16.66666667%; }
  .colLgPull03 { right: 12.5%; }
  .colLgPull02 { right: 8.33333333%; }
  .colLgPull01 { right: 4.16666667%; }
  .colLgPull00 { right: auto; }

  .colLgPush24 { left: 100%; }
  .colLgPush23 { left: 95.83333334%; }
  .colLgPush22 { left: 91.66666667%; }
  .colLgPush21 { left: 87.5%; }
  .colLgPush20 { left: 83.33333333%; }
  .colLgPush19 { left: 79.16666667%; }
  .colLgPush18 { left: 75%; }
  .colLgPush17 { left: 70.83333334%; }
  .colLgPush16 { left: 66.66666667%; }
  .colLgPush15 { left: 62.5%; }
  .colLgPush14 { left: 58.33333333%; }
  .colLgPush13 { left: 54.16666667%; }
  .colLgPush12 { left: 50%; }
  .colLgPush11 { left: 45.83333334%; }
  .colLgPush10 { left: 41.66666667%; }
  .colLgPush09 { left: 37.5%; }
  .colLgPush08 { left: 33.33333333%; }
  .colLgPush07 { left: 29.16666667%; }
  .colLgPush06 { left: 25%; }
  .colLgPush05 { left: 20.83333334%; }
  .colLgPush04 { left: 16.66666667%; }
  .colLgPush03 { left: 12.5%; }
  .colLgPush02 { left: 8.33333333%; }
  .colLgPush01 { left: 4.16666667%; }
  .colLgPush00 { left: auto; }

  .colLgOffset24 { margin-left: 100%; }
  .colLgOffset23 { margin-left: 95.83333334%; }
  .colLgOffset22 { margin-left: 91.66666667%; }
  .colLgOffset21 { margin-left: 87.5%; }
  .colLgOffset20 { margin-left: 83.33333333%; }
  .colLgOffset19 { margin-left: 79.16666667%; }
  .colLgOffset18 { margin-left: 75%; }
  .colLgOffset17 { margin-left: 70.83333334%; }
  .colLgOffset16 { margin-left: 66.66666667%; }
  .colLgOffset15 { margin-left: 62.5%; }
  .colLgOffset14 { margin-left: 58.33333333%; }
  .colLgOffset13 { margin-left: 54.16666667%; }
  .colLgOffset12 { margin-left: 50%; }
  .colLgOffset11 { margin-left: 45.83333334%; }
  .colLgOffset10 { margin-left: 41.66666667%; }
  .colLgOffset09 { margin-left: 37.5%; }
  .colLgOffset08 { margin-left: 33.33333333%; }
  .colLgOffset07 { margin-left: 29.16666667%; }
  .colLgOffset06 { margin-left: 25%; }
  .colLgOffset05 { margin-left: 20.83333334%; }
  .colLgOffset04 { margin-left: 16.66666667%; }
  .colLgOffset03 { margin-left: 12.5%; }
  .colLgOffset02 { margin-left: 8.33333333%; }
  .colLgOffset01 { margin-left: 4.16666667%; }
  .colLgOffset00 { margin-left: 0; }

  .modalDialog.modalColLg24 { width: 99%; }
  .modalDialog.modalColLg23 { width: 95.83333334%; }
  .modalDialog.modalColLg22 { width: 91.66666667%; }
  .modalDialog.modalColLg21 { width: 87.5%; }
  .modalDialog.modalColLg20 { width: 83.33333333%; }
  .modalDialog.modalColLg19 { width: 79.16666667%; }
  .modalDialog.modalColLg18 { width: 75%; }
  .modalDialog.modalColLg17 { width: 70.83333334%; }
  .modalDialog.modalColLg16 { width: 66.66666667%; }
  .modalDialog.modalColLg15 { width: 62.5%; }
  .modalDialog.modalColLg14 { width: 58.33333333%; }
  .modalDialog.modalColLg13 { width: 54.16666667%; }
  .modalDialog.modalColLg12 { width: 50%; }
  .modalDialog.modalColLg11 { width: 45.83333334%; }
  .modalDialog.modalColLg10 { width: 41.66666667%; }
  .modalDialog.modalColLg09 { width: 37.5%; }
  .modalDialog.modalColLg08 { width: 33.33333333%; }
  .modalDialog.modalColLg07 { width: 29.16666667%; }
  .modalDialog.modalColLg06 { width: 25%; }
  .modalDialog.modalColLg05 { width: 20.83333334%; }
  .modalDialog.modalColLg04 { width: 16.66666667%; }
  .modalDialog.modalColLg03 { width: 12.5%; }
  .modalDialog.modalColLg02 { width: 8.33333333%; }
  .modalDialog.modalColLg01 { width: 4.16666667%; }
}